@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KinoProgram</h1>
    <p><a href="/Cinema/Index">View the weekly program</a>.</p>
</div>
