@page "{WeeklyProgramGuid}"
@model KinoProgram.Webapp.Pages.Cinema.DeleteMovieModel
@{
}
<h3>Delete weekly program</h3>

<div class="border border-danger p-3">
    <p>Should this weekly program be Deleted?</p>
<form method="post">
    <button asp-page-handler="Delete" type="submit" class="btn btn-danger">yes</button>
    <button asp-page-handler="Cancel" type="submit" class="btn btn-secondary">no</button>
</form>
</div>
