@page
@model KinoProgram.Webapp.Pages.Cinema.IndexModel
@section head {
    <style>
        .weeks {
            display: flex;
            flex-wrap: wrap;
            gap:1em;
        }
        .week {
            width: 10em;
            height: 100px;
            display: flex;
            flex-direction: column;
            border: 1px solid gray;
        }

        .weekHeader {
            font-size:140%;
        }
        .weekBody {
            display: flex;
            column-gap: 1em;
            left: 10px;
        }

    </style>
}
<h3>Cinma Weeklyprogram</h3>
<p>Erstellt um @DateTime.Now</p>

<div class="weeks">
    @foreach (var w in Model.WeeklyProgams)
    {
        <div class="week">
            <div class="weekHeader">@w.WeekNumber</div>
            <div class="weekBody">
                <div class="movieCount">@w.MoviesCount</div>
                <div class="genreList">@w.GenreList</div>
            </div>

        </div>
    }
</div>
